{
    "id": "01234567890123456789",
    "service_account_id": "0123456789abcdefghij",
    "created_at": "2021-06-27T11:21:31.490950066Z",
    "key_algorithm": "RSA_2048",
    "public_key": "-----BEGIN PUBLIC KEY-----\nA..................Z\n-----END PUBLIC KEY-----\n",
    "private_key": "-----BEGIN PRIVATE KEY-----\nA................Z==\n-----END PRIVATE KEY-----\n"
 }
 